html, 
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(180deg, #34495E 0%, #2D3C4D 50%, #1E2833 100%);
}

*::before
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(180deg, #39516B 0%, #799BB7 100%);
    padding-top: 66px;
    padding-bottom: 24px;
}

.title-register {
    color: #EAEEF4;
    font-size: 60px;
    text-align: center;
}

.register-offer {
    display: flex;
    padding-left: 57px;
    padding-top: 16px;
}


.block-register2 {
    padding-left: 77px;
}

.txt-reg {
    color: #EAEEF4;
    font-size: 20px;
    padding-bottom: 7px;
    
}

.input-block {
    min-width: 360px;
    min-height: 40px;
    border-radius: 7px;
    border: none;
    background-color: #D1DCE6;
    font-size: 16px;
}

.lower-reg {
    padding-top: 60px;
}

.txt-reg-password {
    color: #EAEEF4;
    font-size: 15px;
    font-weight: 700;
    padding-top: 16px;
    line-height: normal;
}

.block-reg-email {
    padding-left: 248px;
}

.input-email {
    min-width: 360px;
    min-height: 40px;
    border-radius: 7px;
    border: none;
    background-color: #D1DCE6;
    font-size: 16px;
}

.link-reg {
    color: #39516B;
    font-size: 20px;
    background-color: #D1DCE6;
    width: 200px;
    display: block;
    padding: 13px 0px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 52px;
    transition: all 0.5s ease;
}

.link-reg:hover {
    background-color: #959ca3;
}